<!DOCTYPE html>
<html>
<head>
  <title>Athlete-Trax | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %> 

  <% if current_user %>
    Logged in as <b><%= current_user.email %></b>, 
    <a href="<%= current_user.docu.url %> "><b> submitted form</b>.</a></br>
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <h1>Welcome to Athlete-Trax</h1>

<% flash.each do |name, msg|%>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>
<%= render 'layouts/footer' %>

<% end %>
</body>
</html>
